{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <title>{{nome}} Sinais</title>
</head>


<body class='corpo'>

    <header class="header">
        <a class="menulateral">Lateral</a>
        <div class="centername">{{nome}}</div>
        <a href="/"><i class="fas fa-home logo"></i></a>
    </header>

    <div>
        <form id="meuForm">
            <fieldset id="meuFieldset">
                <legend class ="titulolegenda">Escolha a matéria</legend>
                {% for m in materia %}
                    {% if m.codigocurso == codigo %}
                        <p>
                            <input type="radio" name="materia" value="{{ m.codigomateria }}" id="materia_{{ forloop.counter }}">
                            <label for="materia_{{ forloop.counter }}">{{ m.nomemateria }}</label>
                        </p>
                    {% endif %}
                {% endfor %}
            </fieldset>
        </form>
        <button id="limparFiltros">Limpar Filtros</button> 
    </div>

    <section>
        <div class="itensspace">
            {% for s in sinal %}
                {% if s.codigocurso == codigo %}
                    <div class="itens" data-codigodamateria="{{s.codigodamateria}}">
                        <a class='link' href="/curso/{{ s.codigocurso }}/{{ s.linkvideo }}">
                            <div class="imagemdiv">
                                <img class="imagemitem" src="{% static s.imagem|stringformat:'s' %}.png" alt="foto">
                            </div>
                            <div class="titulodiv">
                                {{ s.nome }} 
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    
    <script src="{% static "scripts.js" %}"></script>
</body>
</html>