{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <title>Libras</title>
</head>

<body class='corpo'>
    
        <header class="header">
            <a class="menulateral">Lateral</a>
            <div class="centername">Thiago Libras</div>
            <div class="logo">Logo</div>
        </header>

    <div class="barrapesquisa">
        <input type= "text">
    </div>
    <div class="titulopre">
        ENCONTRE SEU CURSO
        <!--div que vai como titulo em cima das dvis-->
    </div>
<!---->    
    <section>

        <div class="itensspace">
            {% for x in nome %}
            <div class="itens">
                <a class = 'link' href="/link/{{x.codigocurso}}">
                    <div class="imagemdiv">
                        <img class="imagemitem" src="{% static x.codigocurso|stringformat:'s' %}.png" alt="foto">
                    </div>
                    <div class="titulodiv">
                        {{x.nome}} 
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        
    </section>
    <section>
        <div class="listadeobjetos">

        </div>
    </section>
    
    <div>
        
        <!--div lateral-->
    </div>
</body>
</html>