{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Libras</title>
</head>
<body class='corpo'>
    <header class="header">
        <a class="menulateral">Lateral</a>
        <div class="centername">nome central</div>
        <div class="Logo">Logo</div>
    </header>
    <section>
        <div class="itensspace">
            <div class="itens">
                <a href="https://youtu.be/MleDDEg1qNc?t=3">
                    <div class="imagemdiv">
                        <img class="imagemitem" src="https://upload.wikimedia.org/wikipedia/commons/1/15/Santos_Logo.png" alt="bilola">
                    </div>
                    <div class="titulodiv">
                        nome do curso
                    </div>
                </a>
            </div>
            <div>
                <a href="https://youtu.be/MleDDEg1qNc?t=3">
                    
                </a>
            </div>
        </div>
    </section>
</body>
</html>