{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anta&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/qrcode@latest/qrcode.min.js"></script>

        
        
        <title>{{nome}} Sinais</title>
    </head>
<body class='corpo'>
    <header class="header">
        <a href= "/curso/{{codigocurso}}" class="menulateral">voltar</a>
        <div class="centername">{{nome}}</div>
        <a href="/"><i class="fas fa-home logo"></i></a>
    </header>
    <div class = "imagemsinal"><img class = "imagemsinalimagem" src="{% static codigocurso|stringformat:'s' %}.png" alt="foto"></div>
    <div class = 'descricao'>
        <header class="seletoresdescritivos">
            <div onclick="mostrarInformacao(this)"><a class="link" href="/curso/{{cursolink}}/{{linksinal}}/descricao">descricao</a></div>
            <div onclick="mostrarInformacao(this)"><a class="link" href="/curso/{{cursolink}}/{{linksinal}}/tabdescritivo">sinal descritivo</a></div>
            <div onclick="mostrarInformacao(this)"> <a class="link" href="/curso/{{cursolink}}/{{linksinal}}/tabsinal">Sinal</a></div>
        </header>
    {% if opcao == 'descricao'%}
        <div class = "opcaodetails">
            <div class = "detailsdescritpt">
                <div class="textdescript">
                    <p>{{descricaolibras}}</p>
                </div>
            </div>
        </div> 
    {% elif opcao == 'tabdescritivo'%}
        <div class = "opcaodetails">
            <div class = "detailsdescritpt">
                <div class="videodescritivo">
                </div>
            </div>        
        </div>
    {% elif opcao == 'tabsinal'%}
        <div class = "opcaodetails">
            <div class = "detailsdescritpt">
                <div class = "videosinal"> </div>
            </div>
        </div>
    {% endif %}   
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>