:root{
    --primarycolor: #85C026;
    --secondcolor: #173981;
    --backcolor: #FFFFE8;
    --linkcolor: ;
    --transaparence: ;
    --imagembackground: ;

}



.Logo{
    color: blue;
    align-content: center;
}

.centername{
    color: var(--primarycolor);
}

.header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #635f5f3d;
}

.corpo{
    margin: 0;
    background: linear-gradient(to right, #02db47, #447fff);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.itensspace{    
    width: 50rem;
    height: 40rem;
    padding: 5px;
    border: 10px;
    box-shadow: inset;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width: 50rem;
    max-height: 40rem;
    border: 1px solid #ddd; 
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
    transition: 1s;
    
}
.itensspace :hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.itensspace::-webkit-scrollbar {
    width: 12px;
}
.itensspace::-webkit-scrollbar-thumb {
    background-color: var(--secondcolor); /* Cor da alça da barra de rolagem */
    border-radius: 6px;
}

.itens{
    background-color: rgba(10, 241, 122, 0.314);
    border: 1px solid #000000; 
    margin-bottom: 10px;
    display: flex;   
    padding: 10px;         
    box-sizing: border-box; 
    width: 300px;
    height: 300px;
    justify-content: center;
    transition: 0.5s;
        
}
.itens:hover .imagemitem {
    box-shadow: none;
    transform: none;
}

.itens:hover .titulodiv {
    box-shadow: none;
    transform: none;
}
.itens:hover .link {
    box-shadow: none;
    transform: none;
}

.itens:hover .imagemdiv {
    box-shadow: none;
    transform: none;
}
.imagemitem{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ddd;
    box-shadow: none;
    transition: none;
    transform: none;
}

.titulodiv{
    color: var(--primarycolor); /* ou color: initial; */
    text-decoration: none; /* Remova sublinhado se desejar */
    align-self: center;
    border: 5px;
    text-align: center;
    box-shadow: none;
}

.imagemdiv{
    align-items: center; 
}

.link{
    text-decoration: none;
    transform: none;
    box-shadow: none;
}

.barrapesquisa {
    display: flex; /* Para usar flexbox */
    justify-content: center; /* Para centralizar horizontalmente */
    align-items: center; /* Para centralizar verticalmente, se necessário */
    width: 80%; /* Ajuste conforme necessário */
    margin-left: auto;
    margin-right: auto;
    padding: 10px; /* Ajuste conforme necessário */
}

.barrapesquisa input {

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%; /* Para preencher a largura da div */
    padding: 8px; /* Ajuste conforme necessário */
    box-sizing: border-box; /* Para incluir padding na largura total */
    border: none;
    outline: none; /* Remove a borda de foco padrão */
}

.titulopre{
    margin-top: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}