:root{
    --primarycolor: #EBEBEB;
    --secondcolor: #011752;
    --backcolor: #FFFFE8;
    --bluesoftcolor: #ADDABE;
    --greencolor: #24CE6B;
    --yellowcolor: #FFC928;
    --blackcolor: #000000;
    --transparente: #48ffc800;
    --semitransparente: #48ffc866;
    --linkcolor: ;
    --transaparence: ;
    --imagembackground: ;
    --fontfamily: "Archivo Narrow", sans-serif;;
    --fontsizebig: 30px;
    --fontsizemid: 10px;
}
.menulateral{
    color: var(--bluesoftcolor);
    font-size: var(--fontsizebig);
    padding-left: 10px;
    text-decoration: none;
}
.logo{
    color: var(--bluesoftcolor);
    font-family: var(--fontfamily);
    font-size: var(--fontsizebig);
    padding-right: 10px;
}

.centername{
    color: var(--bluesoftcolor);
    font-family: var(--fontfamily);
    font-size: var(--fontsizebig);
}

.header{
    background-color: var(--secondcolor);
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border: 1px solid #000000;
    position: relative;

}

.corpo{
    background: var(--primarycolor);
    background-size: 200% 200%;
    margin: 0px;
    
}

.itensspace{    
    width: 50%;
    height: 50%;
    padding: 5px;
    border: 10px;
    box-shadow: inset;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width: 50rem;
    max-height: 40rem;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
    transition: 1s;
    border-radius: 10%;
    background-color: var(--bluesoftcolor);

    
    
}
.itensspace :hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: var(--greencolor);
}

.itensspace::-webkit-scrollbar {
    width: 12px;
}
.itensspace::-webkit-scrollbar-thumb {
    background: linear-gradient(20deg, #02db476b, #17398180); /* Cor da alça da barra de rolagem */
    border-radius: 6px;
}

.itens{
    border: 1px solid var(--transparente); 
    margin: 10px;
    display: flex;   
    padding: 10px;         
    box-sizing: border-box; 
    width: 30%;
    height: 30%;
    justify-content: center;
    transition: 1s;
        
}
.itens:hover .imagemitem {
    box-shadow: none;
    transform: none;
}

.itens:hover .titulodiv {
    box-shadow: none;
    transform: none;
}
.itens:hover .link {
    box-shadow: none;
    transform: none;
}

.itens:hover .imagemdiv {
    box-shadow: none;
    transform: none;
}

.imagemitem{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: none;
    transform: none;
}

.titulodiv{
    color: var(--blackcolor); /* ou color: initial; */
    text-decoration: none; /* Remova sublinhado se desejar */
    align-self: center;
    border: 5px;
    text-align: center;
    box-shadow: none;
    font-family: var(--fontfamily);
    transition: none;
    transform: none;
}

.imagemdiv{
    align-items: center; 

}

.link{
    text-decoration: none;
    color: var(--bluesoftcolor);
    font-family: var(--fontfamily);
    font-size: var(--fontsizebig);

}

.barrapesquisa {
    display: flex; /* Para usar flexbox */
    justify-content: center; /* Para centralizar horizontalmente */
    align-items: center; /* Para centralizar verticalmente, se necessário */
    width: 80%; /* Ajuste conforme necessário */
    margin-left: auto;
    margin-right: auto;
    padding: 10px; /* Ajuste conforme necessário */
    margin-top: 50px;
    
}

.barrapesquisa input {

    box-shadow: 0 0 10px var(--backcolor);
    width: 80%; /* Para preencher a largura da div */
    padding: 8px; /* Ajuste conforme necessário */
    box-sizing: border-box; /* Para incluir padding na largura total */
    border: none;
    outline: none; /* Remove a borda de foco padrão */
    background-color: var(--greencolor);
    transition: 1s;
    border-radius: 100px;
    border: 5px solid var(--secondcolor);
}
.barrapesquisa input:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.titulopre{
    margin-top: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--fontfamily);
    font-size: var(--fontsizebig);
}

.rodape{
    background-color: var(--secondcolor);
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border: 1px solid #000000;
    position: relative;
}

.linkrodape{
    color: var(--bluesoftcolor);
    font-family: var(--fontfamily);
    font-size: var(--fontsizemid);
    text-decoration: none;
}